<%= form_for :field, url: fields_path do |f| %>

    <p>
      <%= f.label :name %><br>
      <%= f.text_field :name %>
    </p>

    <p>
      <%= f.label :shape %><br>
      <%= f.text_field :shape %>
    </p>

    <p>
      <%= f.submit %>
    </p>
<% end %>