<h1>Listing Fields</h1>
<%= link_to 'New field', new_field_path %>
<table>
  <tr>
    <th>Name</th>
    <th>Shape</th>
    <th colspan="3"></th>
  </tr>

  <% @fields.each do |field| %>
      <tr>
        <td><%= field.name %></td>
        <td><%= field.shape %></td>
        <td><%= link_to 'Show', field_path(field) %></td>
        <td><%= link_to 'Edit', edit_field_path(field) %></td>
        <td><%= link_to 'Destroy', field_path(field),
                        method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
  <% end %>
</table>