<p>
  <strong>Name:</strong>
  <%= @field.name %>
</p>

<p>

  <strong>Shape:</strong>
  <%= @field.shape %>
</p>

<style>#map { height: 180px; }</style>
<div id="map"></div>
<script>
$(document).ready(function(){
    var map = L.map('map', {
        center: [0.8, 100.9],
        zoom: 8
    });
    new L.GeoJSON(<%=raw @shape.to_json()%>, {
        style: function(feature) {
            return feature.properties.style
        }
    }).addTo(map);
    //var map = L.map('map').setView([[-41.2858, 174.78682], 14]);
    //var multipolygon = L.multiPolygon(<%=raw @shape.to_json()%>).addTo(map)
    //var geo_json = L.geoJson(<%=raw @shape.to_json()%>);
    //var multipolygon = L.multiPolygon(geo_json).addTo(map);

});

</script>

<%= link_to 'Edit Field', edit_field_path(@field) %> |
<%= link_to 'Back to Fields', fields_path %>
